<center>
  <h1>Login</h1>
</center>

<br />
<br />
<br />

<center>
  <form class="form-inline" ng-submit="vm.login()">
    <input required type="email" class="form-control" ng-model="vm.user.email" placeholder="email" />
    <input required type="password" class="form-control" ng-model="vm.user.password" placeholder="password" />
    <button type="submit" class="btn btn-primary">login</button>
  </form>

  <br />
  <p>
      don't have an account? <a ui-sref="Register">sign up!</a>
  </p>
  <p>
      or

      <h3>login with</h3>
      <p>
        <a href="/api/v1/users/auth/facebook" target="_self"><button class="btn btn-primary"><span style="font-size: x-large; font-family: sans-serif, FontAwesome">&#xf082;</span></button></a>
        <span class="space"></span>
      </p>
    </p>
</center>
